<p id="notice"><%= notice %></p>

<h1>Job Titles</h1>

<table class="table">
  <thead class="table table-warning">
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_titles.each do |job_title| %>
      <tr>
        <td><%= job_title.name %></td>
        <td><%= link_to 'Ver', job_title %></td>
        <td><%= link_to 'Editar', edit_job_title_path(job_title) %></td>
        <td><%= link_to 'Eliminar', job_title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Title', new_job_title_path %> |
<%= link_to 'Oenologists', oenologists_path %> |
<%= link_to 'Wines', root_path %>

